.dashboard-tile-row {
	ul {
		display: flex;

		li {
			list-style-type: none;
	  	}

		-webkit-mask-image: linear-gradient(90deg, #000000 95%, transparent);
		mask-image: linear-gradient(90deg, #000000 95%, transparent);
	}
}
