@import "theme.scss";

.dashboard-container {
  max-width: $center-viewport-width;
  max-height: $center-viewport-height;

  .dashboard-header {
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 2px solid white;
  }
}
