@import "theme.scss";

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.home-component {
  background: #1c1c1c;

  width: calc($center-viewport-width - 4px - 2rem);
  height: calc($center-viewport-height - 4px - 1rem);

  margin: 2px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow: scroll;
}
