@import "theme.scss";

.home-container {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.home-component {
  background: #1c1c1c;
  width: calc(100% - 22rem - 16rem);
  margin: 2px;
  padding: 0.2rem 1.5rem $playbar-size 1rem;
  border-radius: 0.5rem;
  overflow: scroll;
}
