@import "playbar.scss";
@import "theme.scss";
@import "queue.scss";
@import "login.scss";
@import "signup.scss";
@import "sidebar.scss";
@import "dashboard.scss";
@import 'home.scss';
@import 'search.scss';
@import 'personal.scss';
@import 'dashboard_tile.scss';
@import 'dashboard_row.scss';
@import 'upload.scss';
@import 'song_list.scss';

body {
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-controls-color;
  margin: 0;
  padding: 0;
}
