@import "tailwindcss";

@theme {
  --color-bg: #030303;
  --color-bg-light: #212121;
  --color-accent: #4032a8;
  --color-accent-light: #7851ed;
  --color-controls: #e0e0e0;
  --color-controls-hover: #c0c0c0;
  --color-controls-active: #a0a0a0;
  --color-menu-active: white;
  --color-play-grad-start: #0a0533;
  --color-play-grad-end: var(--color-accent);
}

@layer utilities {
  .hover-link {
    @apply text-neutral-500;
    @apply hover:text-neutral-800;
    @apply underline;
    @apply transition-colors;
  }

  .control {
    @apply text-controls;
    @apply hover:text-controls-hover;
    @apply active:text-controls-active;
    @apply text-base;
  }

  .home-card {
    @apply bg-bg-light;
    @apply rounded-lg;
    @apply m-0.75;
    @apply p-4;
    @apply text-white;
    @apply last-of-type:grow;
    @apply last-of-type:pb-[85px]; /* Hard-coded height of the playbar + 5px */
    @apply overflow-scroll;
  }

  .menu-btn {
    @apply flex;
    @apply items-center;
    @apply text-base;
    @apply mt-3;
    @apply text-neutral-400;
    @apply hover:text-neutral-500;
    @apply active:text-neutral-600;
  }

  .auth-button {
    @apply text-controls;
    @apply bg-neutral-700;
    @apply hover:bg-neutral-800;
    @apply active:bg-neutral-900;
    @apply rounded-lg;
    @apply p-2;
    @apply m-1;
  }
}
