@import 'playbar.scss';
@import 'theme.scss';
@import 'queue.scss';
@import 'login.scss';
@import 'signup.scss';
@import 'song.scss';
@import 'searchbar.scss';

body {
	font-family: sans-serif;
	background-color: $background-color;
	color: $text-controls-color;
	margin: 0;
	padding: 0;
}

.home {
	width: 100%;
	height: 100%;
}
