@import 'theme.scss';

.queue {
	position: fixed;
	top: 0;
	right: 0; 
	width: 400px; 
	height: calc(100% - 87px); /* Adjust height to fit the queue */
	background-color: #424242; /* Queue background color */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	overflow-y: auto; /* Add scroll bar when queue is too long */
	margin: 5px;
	border-radius: 5px;
  
	.queue-header {
	  background-color: #333; /* Header background color */
	  color: #fff; /* Header text color */
	  padding: 10px;
	  text-align: center;
	}
  
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	
		.queue-item {
			display: flex;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 5px;
			padding-bottom: 5px;

			button {
				background: none;
				border: none;
				color: #fff;
				cursor: pointer;
				margin-left: auto;
			}

			p {
				color: #fff;
				font-weight: bold;
				margin-left: auto;
				background: none;
				border: none;
			}
		}
	}
}
  