::-webkit-scrollbar {
    width: 10px;
    background-blend-mode: $scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-handle-color;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-handle-hover-color;
}