@import "theme.scss";

.sidebar-container {
  background-color: transparent;
  width: 22rem;
  height: calc(100% - 75px);
  .sidebar-top-container {
    border-radius: 1rem;
    background-color: #1c1c1c;
    height: 9rem;
    margin: 3px;
    padding: 0.1rem 1rem 1rem 1rem;
    position: relative;
    .header {
      font-size: 1.2rem;
    }
    .upload-dropdown-container {
      position: absolute;
      top: 10px;
      right: 7px;
      .upload-dropdown-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.9rem;
        border-radius: 50px;
        border: none;
        height: 2.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        .add-sign {
          font-size: 1.5rem;
          margin-top: auto;
        }
      }
      .upload-dropdown-btn:hover {
        background-color: #9e9e9e;
      }
      .upload-dropdown-btn-active {
        border-radius: 12.5px 12.5px 0 0;
        width: 110px;
      }
      .upload-dropdown {
        background-color: #f0ecec;
        color: black;
        width: 110px;
        .add-btns {
          border: none;
          border-bottom: 1px solid black;
          width: 100%;
          padding: 0.25rem;
          cursor: pointer;
        }
        .add-btns:first-child {
          border-top: 1px solid black;
        }
      }
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      font-size: 1.8rem;
      align-items: center;
      transition: all 0.5s;
      cursor: pointer;
      color: grey;
      text-decoration: none;
    }
    .buttons:hover {
      color: white;
    }
    .buttons:last-child {
      margin-left: 0.02rem;
      margin-top: 0.5rem;
    }
    h1 {
      font-size: 0.95rem;
      margin-left: 0.9rem;
      font-weight: 400;
      font-style: $standard-font;
      letter-spacing: 0.5px;
    }
  }
  .sidebar-bottom-container {
    border-radius: 1rem;
    background-color: #1c1c1c;
    margin: 3px;
    margin-top: 6px;
    padding: 0.2rem 1rem 1rem 1rem;
    height: calc(100% - 9rem);
  
    .heading {
      display: flex;
      flex-direction: row;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .header {
        font-size: 1.2rem;
        font-weight: 200;
      }
  
      .add-playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        border-radius: 50px;
        border: none;
        height: 2.2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        .add-sign {
          font-size: 1.5rem;
          margin-top: auto;
          margin-right: 5px;
          color: white;
        }
      }
      .add-playlist:hover {
        background-color: #9e9e9e;
      }
    }
  }  
}


