@import "theme.scss";

.sidebar-container {
  background-color: transparent;
  width: 22rem;
  height: calc(100% - 75px);
}

.sidebar-top-container {
  border-radius: 1rem;
  background-color: #1c1c1c;
  height: 9rem;
  margin: 3px;
  padding: 0.1rem 1rem 1rem 1rem;
}

.sidebar-top-container .header {
  font-size: 1.2rem;
}
.sidebar-top-container .buttons {
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  color: grey;
}
.sidebar-top-container .buttons:hover {
  color: white;
}

.sidebar-top-container .buttons:last-child {
  margin-left: 0.02rem;
  margin-top: 0.5rem;
}

.sidebar-top-container h1 {
  font-size: 0.95rem;
  margin-left: 0.9rem;
  font-weight: 400;
  font-style: $standard-font;
  letter-spacing: 0.5px;
}

.sidebar-bottom-container {
  border-radius: 1rem;
  background-color: #1c1c1c;
  margin: 3px;
  margin-top: 6px;
  padding: 0.2rem 1rem 1rem 1rem;
  height: calc(100% - 9rem);

  .sidebar-playlists-container {
    width: 100%;
    height: 100%;
  
    .heading {
      display: flex;
      flex-direction: row;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .header {
        font-size: 1.2rem;
        font-weight: 200;
      }
  
      .add-playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        border-radius: 50px;
        border: none;
        height: 2.2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        .add-sign {
          font-size: 1.5rem;
          margin-top: auto;
          margin-right: 5px;
          color: white;
        }
      }
      .add-playlist:hover {
        background-color: #9e9e9e;
      }
    }
    .create-playlist-popup-container {
      display: flex;
      position: relative;
      flex-direction: column;
      // background-color: #1c1c1c;
      height: 12rem;
      width: 20rem;
      border-radius: 2px;
      padding: 1rem;
      padding-top: 0.1rem;
      border: 1px solid grey;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        font-size: 1.6rem;
        transition: all 0.3s;
      }
      .close-button:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.1);
      }
  
      .close-button:active {
        transform: scale(0.8);
      }
      .header {
        font-size: 1.2rem;
        font-weight: 200;
        margin-bottom: 0.5rem;
      }
      .create-playlist-form {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        .name-input {
          background: transparent;
          border: none;
          border-bottom: 1px solid grey;
          font-size: 1.1rem;
          color: white;
          margin-top: 2rem;
        }
        .name-input:focus {
          outline: none;
        }
        .create-button {
          position: absolute;
          bottom: 0px;
          width: 5rem;
          padding: 0.4rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }
    }
    .playlists {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      height: 100%;
      
      .playlist {
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        border: 1px solid grey;
        height: 3rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        .screen-darkener {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1;
        }

        .name {
          font-size: 1rem;
          margin-left: 1rem;
          margin-top: 0.5rem;
          color: white;
        }

        
        .playlist-container {
          background-color: #1c1c1c;
          width: 40rem;
          height: 40rem;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid white;
          border-radius: 5px;
          padding: 1rem;
          padding-top: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
  
          .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 50%;
            font-size: 1.6rem;
            transition: all 0.3s;
          }
  
          .close-button:hover {
            transform: scale(1.1);
            background-color: rgba(255, 255, 255, 0.1);
          }
      
          .close-button:active {
            transform: scale(0.8);
          }
          h1 {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 0.5rem;
          }
          .info {
            display:flex;
            flex-direction: row;
            align-items: end;
            h1 {
              font-weight: bold;
              font-size: 2rem;
              margin-left: .5rem;
              margin-right:2rem;
            }
            p {
              color: #aaa;
            }
          }
          .songs {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 2rem;
            .song {
              display: flex;
              align-items: center;
              padding: 7px 10px 7px 10px;
				      border-bottom: 1px solid #ccc; /* Separator line color */
              
              img {
                max-width: 40px; /* Adjust maximum width for images */
                margin-right: 10px; /* Add spacing between image and text */
                border-radius: 5px; /* Add border radius to image */
              }
              .song-info {
                
                h3 {
                  margin: 0; /* Remove default margin for heading */
                  color: #fff; /* Adjust text color for song */
                  font-size: 1rem;
                  font-weight: 200;
                }
            
                p {
                  margin: 0; /* Remove default margin for paragraph */
                  color: #aaa; /* Adjust text color for artist */
                  font-size: 0.9rem;
                }
              }
              .right {
                position: fixed;
                right: 25px;
                transition: all 0.3s ease;
                .duration {
                  
                }
                .delete-song {
                  cursor: pointer;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .delete-song:hover {
                  transform: scale(1.1);
                }
            
                .delete-song:active {
                  transform: scale(0.8);
                }
              }
            }
            .song:first-child {
              border-top: 1px solid #ccc;
            }
          }
        }
      }
      .playlist:hover {
        background-color: #adadad36;
      }
    }
  }

}

