@import "theme.scss";

.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 27rem;
  height: 36rem;
  transform: translate(-50%, -50%);
  background: $auth-containers;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}
.signup-container .header h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: $accent-color;
}
.signup-container .signup-form {
  width: 80%;
}
.signup-form .input-box {
  position: relative;
  margin-top: 3rem;
}
.signup-form .input-box:first-child {
  margin-top: 0.7rem;
}
.signup-form .input-box input {
  position: relative;
  width: 100%;
  max-width: 34vw;
  padding: 17px 0px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-indent: 10px;
  vertical-align: middle;
  z-index: 10;
  color: #fff;
}
.signup-form .input-box span {
  position: absolute;
  left: 0;
  padding: 15px 0px 10px;
  pointer-events: none;
  color: black;
  font-size: 1.19em;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.signup-form .input-box input:valid ~ span,
.signup-form .input-box input:focus ~ span {
  color: rgb(94, 93, 93);
  font-size: 0.9rem;
  transform: translateY(-30px);
  font-weight: 400;
}
.signup-form .input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $auth-inputs;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.signup-form .input-box input:valid ~ i,
.signup-form .input-box input:focus ~ i {
  height: 2.6rem;
}
.signup-form .error-msg {
  color: $error-color;
  margin-top: 1rem;
  height: 1rem;
}
.signup-form .loading {
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(1.5rem - 10px);
}
.signup-form input[type="submit"] {
  margin-top: 3.5rem;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: $accent-color;
}
.signup-form .go-to-login {
  color: #8f8f8f;
  font-size: 0.9rem;
}
.signup-form .go-to-login a {
  cursor: pointer;
  color: #8f8f8f;
  text-decoration: underline;
}
.signup-form .go-to-login a:hover {
  color: black;
  transition: all 0.2s;
}
.signup-container .return {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}
.signup-container .return:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.password-visibility {
  position: absolute;
  font-size: 1.7rem;
  top: 28%;
  right: 5px;
  z-index: 5;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}
.pw-requirements {
  font-size: 0.7rem;
}
