@import "theme.scss";

.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 27rem;
  height: 36rem;
  transform: translate(-50%, -50%);
  background: $auth-containers;
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.signup-container .header h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: $accent-color;
}

.signup-container .signup-form {
  width: 80%;
}

.signup-form .input-box {
  position: relative;
  margin-top: 3rem;
}

.signup-form .input-box:first-child {
  margin-top: 0.7rem;
}

.signup-form .input-box input {
  width: 100%;
  padding: 1.0625rem 0 0.625rem;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-indent: 0.625rem;
  vertical-align: middle;
}

.signup-form .input-box span {
  position: absolute;
  left: 0;
  padding: 0.9375rem 0 0.625rem;
  pointer-events: none;
  color: black;
  font-size: 1.19rem;
  letter-spacing: 0.5px;
  transition: 0.5s;
}

.signup-form .input-box input:valid ~ span,
.signup-form .input-box input:focus ~ span {
  color: rgb(94, 93, 93);
  font-size: 0.9rem;
  transform: translateY(-1.875rem);
  font-weight: 400;
}

.signup-form .input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background: $auth-inputs;
  border-radius: 0.25rem;
  transition: 0.5s;
  pointer-events: none;
}

.signup-form .input-box input:valid ~ i,
.signup-form .input-box input:focus ~ i {
  height: 1.625rem;
}

.signup-form .error-msg {
  color: $error-color;
  margin-top: 1rem;
  height: 1rem;
}

.signup-form .loading {
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(1.5rem - 10px);
}

.signup-form input[type="submit"] {
  margin-top: 3.5rem;
  width: 100%;
  height: 2.8125rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: $accent-color;
}

.signup-form .go-to-login {
  color: #8f8f8f;
  font-size: 0.9rem;
}

.signup-form .go-to-login a {
  color: #8f8f8f;
  text-decoration: underline;
}

.signup-form .go-to-login a:hover {
  color: black;
  transition: color 0.2s;
}

.signup-container .return {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  transition: background-color 0.3s;
}

.signup-container .return:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.password-visibility {
  position: absolute;
  font-size: 1.7rem;
  top: 28%;
  right: 0.3125rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.pw-requirements {
  font-size: 0.7rem;
}
