.song-container {
    .song-header {
		display: flex;

		.song-image {
			width: 100px;
			height: 100px;
			padding: 20px;
			border-radius: 5px;
		}

		h1 {
			font-size: 40px;
			align-self: center;
			padding: 10px;
		}
	}

	.song-actions {
		display: flex;

		button {
			align-self: center;

			.hmirror {
				-moz-transform: scale(-1, 1);
				-webkit-transform: scale(-1, 1);
				-o-transform: scale(-1, 1);
				-ms-transform: scale(-1, 1);
				transform: scale(-1, 1);
			}
	
			.controlbtn {
				color: $text-controls-color;
			}
	
			.controlbtn:hover {
				color: $controls-hover-color;
			}
	
			.controlbtn:active {
				color: $controls-click-color;
			}
	
			background-color: transparent;
			border: transparent;
		}
	}

	a {
		text-decoration: none;
		color: $text-controls-color;
	}

	a:hover {
		text-decoration: underline $controls-hover-color;
	}
}
