$background-color: #030303;
$accent-color: #4032a8;
$text-controls-color: #e0e0e0;
$controls-hover-color: #c0c0c0;
$controls-click-color: #909090;
$play-bar-background-color: #212121;
$play-grad-start: #0a0533;
$play-grad-end: $accent-color;
$queue-background-color: $play-bar-background-color;
